.badge {
    color: var(--jaguar-400);
    font-family: inherit;
    font-size: var(--font-size-12);
    font-weight: var(--font-weight-600);
    line-height: var(--line-height-18);
    border: none;
    outline: none;

    height: 2.8rem;
    padding: 0 var(--space-12);
    display: inline-flex;
    gap: 0.8rem;
    align-items: center;
    width: max-content;
}

.badge-rounded {
    border-radius: var(--border-radius-8);
}

.badge-circle {
    border-radius: var(--border-radius-40);
}

/* No Background */

.badge-violet {
    color: var(--primary-600);
}

.badge-orange {
    color: var(--sunglow-700);
}

.badge-green {
    color: var(--green-600);
}

.badge-blue {
    color: var(--dodger-blue-600);
}

.badge-red {
    color: var(--red-orange-600);
}

.badge-purple {
    color: var(--purple-600);
}

.badge-grey {
    color: var(--jaguar-400);
}

/* Light Bacground */

.badge-violet.badge-light-bg {
    background-color: var(--primary-50);
}

.badge-orange.badge-light-bg {
    background-color: var(--sunglow-50);
}

.badge-green.badge-light-bg {
    background-color: var(--green-50);
}

.badge-blue.badge-light-bg {
    background-color: var(--dodger-blue-50);
}

.badge-red.badge-light-bg {
    background-color: var(--red-orange-50);
}

.badge-purple.badge-light-bg {
    background-color: var(--purple-50);
}

.badge-grey.badge-light-bg {
    background-color: var(--jaguar-50);
}

/* Stroke */

.badge-violet.badge-stroke {
    border: 1px solid var(--primary-200);
    background-color: var(--primary-25);
}

.badge-orange.badge-stroke {
    border: 1px solid var(--sunglow-200);
    background-color: var(--sunglow-25);
}

.badge-green.badge-stroke {
    border: 1px solid var(--green-200);
    background-color: var(--green-25);
}

.badge-blue.badge-stroke {
    border: 1px solid var(--dodger-blue-200);
    background-color: var(--dodger-blue-25);
}

.badge-red.badge-stroke {
    border: 1px solid var(--red-orange-200);
    background-color: var(--red-orange-25);
}

.badge-purple.badge-stroke {
    border: 1px solid var(--purple-200);
    background-color: var(--purple-25);
}

.badge-grey.badge-stroke {
    border: 1px solid var(--jaguar-200);
    background-color: var(--jaguar-25);
}

.badge.badge-violet.flag,
.badge-rounded.badge-violet.flag,
.badge-circle.badge-violet.flag {
    fill: var(--primary-600);
}

.badge.badge-violet.check,
.badge-rounded.badge-violet.check,
.badge-circle.badge-violet.check {
    fill: var(--primary-600);
}

.badge.badge-orange.flag,
.badge-rounded.badge-orange.flag,
.badge-circle.badge-orange.flag {
    fill: var(--sunglow-700);
}

.badge.badge-orange.check,
.badge-rounded.badge-orange.check,
.badge-circle.badge-orange.check {
    fill: var(--sunglow-700);
}

.badge.badge-green.flag,
.badge-rounded.badge-green.flag,
.badge-circle.badge-green.flag {
    fill: var(--green-600);
}

.badge.badge-green.check,
.badge-rounded.badge-green.check,
.badge-circle.badge-green.check {
    fill: var(--green-600);
}

.badge.badge-blue.flag,
.badge-rounded.badge-blue.flag,
.badge-circle.badge-blue.flag {
    fill: var(--dodger-blue-600);
}

.badge.badge-blue.check,
.badge-rounded.badge-blue.check,
.badge-circle.badge-blue.check {
    fill: var(--dodger-blue-600);
}

.badge.badge-red.flag,
.badge-rounded.badge-red.flag,
.badge-circle.badge-red.flag {
    fill: var(--red-orange-600);
}

.badge.badge-red.check,
.badge-rounded.badge-red.check,
.badge-circle.badge-red.check {
    fill: var(--red-orange-600);
}

.badge.badge-purple.flag,
.badge-rounded.badge-purple.flag,
.badge-circle.badge-purple.flag {
    fill: var(--purple-600);
}

.badge.badge-purple.check,
.badge-rounded.badge-purple.check,
.badge-circle.badge-purple.check {
    fill: var(--purple-600);
}

.badge.badge-grey.flag,
.badge-rounded.badge-grey.flag,
.badge-circle.badge-grey.flag {
    fill: var(--jaguar-400);
}

.badge.badge-grey.check,
.badge-rounded.badge-grey.check,
.badge-circle.badge-grey.check {
    fill: var(--jaguar-400);
}
